:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebd9ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ebd9ef;
  --secondary-color: #6e0839;
  --tertiary-color: #ffead7;
  --tertiary-color-dim: #ffead7aa;
  --divider-color: #c9c9c9;
  --text-color-a: #ff86e7;
  --recommended-color: #d6fdae;
}

body {
  margin: 0;
  min-width: 320px;
}
