:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --strong-pink-color: #b32c6b;
  --tertiary-color-dim: #ffead7aa;
  --divider-color: #c9c9c9;
  --text-color-a: #ffc4e5;
  --recommended-color: #d6fdae;
  --light-color: #fbf2f7;
  --dim-color: #ffffff30;
}

:root.light {
  --primary-color: #fbf2f7;
  --secondary-color: #5a052e;
  --tertiary-color: #fefff8;
  --quaternary-color: #d8bfa8;
  --quaternary-color-dim: #5b163b80;
  --hover-color: #250515;
  --hover-color-dim: #25051536;
  --navbar-color: #ffb0de;
  --waves-bg-color: #ffdff160;
  --hover-menu-color: #430423;
}

:root.dark {
  --primary-color: #250515;
  --secondary-color: #5a052e;
  --tertiary-color: #d8bfa8;
  --quaternary-color: #5b163b;
  --quaternary-color-dim: #5b163b80;
  --hover-color: #efe5f1;
  --hover-color-dim: #efe5f144;
  --navbar-color: #5a052e;
  --waves-bg-color: #5a052e4f;
  --hover-menu-color: #430423;
}

:root.light::-webkit-scrollbar {
  width: 8px;
  background-color: var(--navbar-color);
}

:root.light::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

:root.dark::-webkit-scrollbar {
  width: 8px;
  background-color: var(--navbar-color);
}

:root.dark::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

body {
  margin: 0;
  min-width: 320px;
}
